.bundle
db/*.sqlite3
db/data.yml
db/*.sqlite3.*
log/*.log
tmp/
*.pyc
*.swp
*.swo
*.swn
*.tmp
*.bak
spec/helpers/
spec/views/
spec/routing/
doc/~$*
doc/Thumbs.db
config/initializers/authorizer_and_ldap.rb
config/database.yml
config/settings.yml
REVISION
log
clean_empty_helper.rb
*.log
public/assets
spec/mock_attributes.yaml
*.sql
lib/radius/auth.py
config/settings.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/files/*
.idea/*.xml
config/log4r.yml
*.zip
nohup.out
config/thin.yml
config/deploy.rb
config/mail.yml
config/timezone.yml
config/secret.token
*~
db/db*
db/*.sqlite*
.*.swp
.*.swo
.DS_Store
.rspec
installer/rails_installer.yml
/public/files
/public/images/theme
/public/javascripts/ckeditor/config.js
/public/javascripts/ckeditor/config.bak
/public/javascripts/all.js
/public/robots.txt
/public/stylesheets/theme
/public/stylesheets/all.css
tmp/*
/coverage/
nbproject
public/cache/*
Gemfile.lock
.rbenv-version
.ruby-version
bin/
.bundle/
.sass-cache/
/vendor/bundle
/themes/*
!/themes/bootstrap
!/themes/typographic
